# 이 파일을 secrets.toml 로 복사한 뒤 실제 값을 입력하세요.
# secrets.toml 은 git 에 올리지 마세요.

SUPABASE_URL = https://ugqhedyaefmpdzqujxgw.supabase.co/rest/v1/
SUPABASE_KEY = sb_publishable_sL1f7CRwE84NxsgzjAU59w_bncHfHrV
